extends index

block panel
    .about
        p(class="about-header") О Проекте
        p
            | Настоящий проект является учебным и используется для выполнения домашний заданий по курсу "Архитектор высоких нагрузок"
            | образовательной платформы 
            a(href='//www.otus.ru') OTUS
            |. 
            | Проект реализован с использованием следующих инструментов и технологий: 
            i MySQL, 
            i Node.js, 
            i Express, 
            i Pug.
