extends layout

block content
    .main
        .logo
            a(href="/") My Socio.Net&trade;
        .menu
            a#menuitem01(href='/public/registration' class='menu-item-toogle').menu-item Регистрация
            a#user(href='/profile' class='menu-item-toogle').menu-item
            a#menuitem02(href='/public/agreements').menu-item Соглашения
            a#menuitem03(href='/public/about').menu-item О Проекте
            a#menuitem04(href='/login').menu-item Войти
            a#menuitem05(href='' onclick='mycourses.logout()' class='menu-item-toogle').menu-item Выйти
        block panel
