extends index

block panel
    .login
        input#name(type="text" placeholder="Введите имя")
        input#password(type="password" placeholder="Введите пароль")
        button(onclick='mycourses.login()') Войти
